<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="momo.kikiplus.com.kbucket"
    tools:ignore="LockedOrientationActivity">

    <uses-sdk xmlns:tools="http://schemas.android.com/tools"
        tools:overrideLibrary="android.support.constraint" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name="momo.kikiplus.AnalyticsApplication"
        android:allowBackup="true"
        android:appComponentFactory="whatevetString"
        android:icon="@mipmap/ic_launcher"
        android:label="${appLabel}"
        android:networkSecurityConfig="@xml/network_configuration"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">

        <activity
            android:name="momo.kikiplus.refactoring.kbucket.ui.view.activity.IntroActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity android:name="momo.kikiplus.refactoring.kbucket.ui.view.activity.MainFragmentActivity"
            android:screenOrientation="portrait" />

<!--        <activity-->
<!--            android:name="momo.kikiplus.deprecated.activity.WriteDetailActivity"-->
<!--            android:hardwareAccelerated="false"-->
<!--            android:screenOrientation="portrait" >-->
<!--        </activity>-->
        <activity
            android:name="momo.kikiplus.deprecated.activity.ShareListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="momo.kikiplus.deprecated.activity.ShareDetailActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="momo.kikiplus.deprecated.activity.BucketListActivity"
            android:screenOrientation="portrait" >
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name="momo.kikiplus.deprecated.activity.PushPopupActivity"
            android:screenOrientation="portrait" />
<!--        <activity-->
<!--            android:name="momo.kikiplus.deprecated.activity.RankListActivity"-->
<!--            android:screenOrientation="portrait" >-->
<!--            <meta-data android:name="android.app.shortcuts"-->
<!--                android:resource="@xml/shortcuts" />-->
<!--        </activity>-->
        <activity
            android:name="momo.kikiplus.deprecated.activity.AddBucketActivity"
            android:screenOrientation="portrait" >
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name="momo.kikiplus.refactoring.kbucket.ui.view.activity.WriteMemoActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name="momo.kikiplus.deprecated.activity.DBMgrActivity"
            android:screenOrientation="portrait" /> <!-- 커스톰 위젯 -->
        <receiver
            android:name="momo.kikiplus.refactoring.obj.KWidget"
            android:label="가지">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_configuration" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.kiki.View.widget.ACTION_WRITE_EVENT" />
                <action android:name="com.kiki.View.widget.ACTION_LIST_EVENT" />
                <action android:name="com.kiki.View.widget.ACTION_SHARE_EVENT" />
                <action android:name="com.kiki.View.widget.ACTION_OURS_BUCKET_EVENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="momo.kikiplus.refactoring.obj.KMemoWidget"
            android:label="다짐">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/memo_widget_configuration" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.kiki.View.widget.ACTION_MEMO_WRITE_EVENT" />
                <action android:name="com.kiki.View.widget.ACTION_MEMO_REFRESH_EVENT" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE_OPTIONS" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="momo.kikiplus.refactoring.obj.KWidgetReceiver"
            android:label="widgetBroadcastReceiver">
            <intent-filter>
                <action android:name="com.kiki.View.widget.ACTION_WRITE_EVENT" />
                <action android:name="com.kiki.View.widget.ACTION_LIST_EVENT" />
                <action android:name="com.kiki.View.widget.ACTION_SHARE_EVENT" />
                <action android:name="com.kiki.View.widget.ACTION_OURS_BUCKET_EVENT" />
                <action android:name="com.kiki.View.widget.ACTION_MEMO_WRITE_EVENT" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/memo_widget_configuration" />
        </receiver> <!-- FCM 관련 -->
        <service
            android:name="momo.kikiplus.refactoring.kbucket.data.FireMessingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- FCM 관련 END -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9950741145331464~2693538232"></meta-data>

    </application>

</manifest>